<form id="search-box" method="post" action="/itunes-search" class="row" style="margin-top: 30px">
    <input class="search-type" type="hidden" name="type" value="simple">

    <div class="col-md-6">
        <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
    </div>

    <div class="col search-bt-actions">
       <div class="btn-group">
           <button type="button" value="simple" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
           <button type="button" value="alphabetically" class="btn btn-success"><i class="fa fa-search"></i> Search alphabetically</button>
       </div>
    </div>
    <div class="col btn-loading" style="display: none;">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>
</form>

<ol class="itunes-songs row" style="margin-top: 40px;">

</ol>